.cssdev {
  display: none;
}

.phpdev {
  display: none;
}

.javadev  {
  display: none;
}

.csharpdev  {
  display: none;
}

img {
  width: auto;
  height: auto;
  float: left;;
}

body {
  background-color: #7DCFD8;
  margin: 30px;
  margin-bottom: 100px
  }

.jumbotron {
  background-color: #C2E5AD;
  padding-top: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 10px;
  border-radius: 30px;
  align-self: center;
  margin-left: 10%;
  margin-right: 10%;
  }

.button {
  border-radius: 20px;
  float: center;
  margin-left: 50px;
  padding: 10px 10px;
  display: inline-flex;
  color: red;
}

h1 {
  float:center;
  color: red;
}
h2 {
  float: left;
  margin: 20px 20px;
}
hr {
    width: 50%;
}
