.cssdev {
  display:none;
}

.phpdev {
  display:none;
}

.javadev  {
  display:none;
}

.csharpdev  {
  display:none;
}

.tryelse  {
  display:none;
}

img {
  width: 300px;
  height: 200px;
}

body {
  background-color: #7DCFD8;
  }

.jumbotron {
  background-color: #C2E5AD;
  padding-top: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 10px;
  border-radius: 30px;
  align-self: center;
  margin-left: 10%;
  margin-right: 10%;
  }

.button {
  border-radius: 20px;
  float: center;
  margin-bottom: 60px;
  }

h1 {
  float:center;
}
hr {
    width: 50%;
}




  /**/
